<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container"
         fxLayout
         fxFlexFill
         fxLayout.xs="column">
      <div class="gps-header-menu" fxFlex="30%" fxLayoutAlign="start center">
        <button mat-icon-button matTooltip="Navigation menu" color="write">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon>more_vert</mat-icon>
        </button>
        Gps Monitor
      </div>
      <div class="gps-header-find" fxFlex="40%" fxLayoutAlign="center center">
      </div>
      <div class="gps-options" fxFlex="25%" fxLayoutAlign="end center">
        <button mat-icon-button disabled>
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button color="write" matTooltip="Help">
          <mat-icon>help</mat-icon>
        </button>
        <button mat-icon-button color="write" matTooltip="Notifications">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
      <div class="gps-options" fxFlex="5%" fxLayoutAlign="center center">
        <button mat-icon-button color="write" disabled>
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button color="write" matTooltip="User Preferences">
          <mat-icon>perm_identity</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
