<mat-card>
  <mat-card-content>
    <div class="container"
         fxLayout
         fxLayout.xs="row">
      <div class="gps-list-icon" fxFlex="20%" fxLayoutAlign="start center">
        <button mat-icon-button disabled>
          <mat-icon>gps_fixed</mat-icon>
        </button>
      </div>
      <div class="gps-list-title" fxFlex="80%" fxLayoutAlign="start center">
        Palta Tomate Mario
      </div>
      <div class="gps-list-options" fxFlex="5%" fxLayoutAlign="end center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br/>
<mat-card>
  <mat-card-content>
    <div class="container"
         fxLayout
         fxLayout.xs="row">
      <div class="gps-list-icon" fxFlex="20%" fxLayoutAlign="start center">
        <button mat-icon-button disabled>
          <mat-icon>gps_fixed</mat-icon>
        </button>
      </div>
      <div class="gps-list-title" fxFlex="80%" fxLayoutAlign="start center">
        Shushi Curico
      </div>
      <div class="gps-list-options" fxFlex="5%" fxLayoutAlign="end center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br/>
<mat-card>
  <mat-card-content>
    <div class="container"
         fxLayout
         fxLayout.xs="row">
      <div class="gps-list-icon" fxFlex="20%" fxLayoutAlign="start center">
        <button mat-icon-button disabled>
          <mat-icon>gps_fixed</mat-icon>
        </button>
      </div>
      <div class="gps-list-title" fxFlex="80%" fxLayoutAlign="start center">
        Anitas Pub Discoteque
      </div>
      <div class="gps-list-options" fxFlex="5%" fxLayoutAlign="end center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
